.titled-pane {
    -fx-background-color: -df-background-light;
    -fx-border: 0;
    -fx-padding: 0;
    -fx-text-fill: -df-text;

    .list-view {
        -fx-background-insets: 0;
        -fx-border-width: 0;
    }

    >.title {
        -fx-background-color: -df-background-light;
        -fx-background-insets: 0;
        -fx-background-radius: 0;
        -fx-padding: 12 0 10 0;
        -fx-border-width: 0 0 0 0;
        -fx-border-color: -df-component-light;
        -fx-border-insets: 0 15 6 15;
    }

    >*.content {
        -fx-border-width: 0;
    }
    .content {
        AnchorPane {
            -fx-padding: 0em;
        }
    }
}

.assets-pane-header {
    -fx-alignment: center-left;
    -fx-spacing: 6px;
    -fx-padding: 0;
}

.assets-pane-title {
    -fx-text-fill: -df-text;
}

.assets-pane-title-button {
    -fx-padding: 0;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    &:hover,
    &:armed {
        -fx-border-color: transparent;
        -fx-background-color: transparent;
    }
}

.assets-pane-title-icon {
    -fx-effect: null;
}

.assets-pane-title-button:hover .assets-pane-title-icon {
    -fx-effect: innershadow(gaussian, -df-text-selected, 10, 0.35, 0, 0);
}

.assets-pane-title-button:armed .assets-pane-title-icon {
    -fx-effect: innershadow(gaussian, -df-text-selected, 12, 0.45, 0, 0);
}
