name: CI - Bisect

on:
  push:
    branches-ignore:
      - 'skip-ci-*'
      - 'DEFEDIT-*'
      - 'editor-dev'
  repository_dispatch: {}

env:
  BUILD_BRANCH: ${{ github.event.client_payload.branch }}
  DM_PACKAGES_URL: ${{ secrets.DM_PACKAGES_URL }}

jobs:
  bld-eng-windows:
    strategy:
      matrix:
        platform: [x86_64-win32]

    runs-on: windows-latest
    steps: [
      { name: 'Checkout', uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11, with: { ref: '${{env.BUILD_BRANCH}}' } },
      { name: 'Install Python', uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c, with: { python-version: 3.12} },
      { name: 'Install Java', uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9, with: { java-version: '17.0.5+8', distribution: 'temurin'} },
      { name: 'Setup dotnet', uses: actions/setup-dotnet@v4, with: {dotnet-version: '9.x', dotnet-quality: 'preview'}},
      { name: 'Install dependencies', shell: bash, run: 'ci/ci.sh install --platform=${{ matrix.platform }}' },
      {
        name: 'Build engine',
        if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_engine != true)),
        shell: bash,
        run: 'ci/ci.sh --platform=${{ matrix.platform }} --archive --skip-builtins --skip-docs --skip-tests engine'
      }
    ]
