name: CI - Main

on:
  push:
    branches-ignore:
      - 'skip-ci-*'
      - 'DEFEDIT-*'
      - 'editor-dev'

  repository_dispatch: {}

env:
  S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
  S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
  NOTARIZATION_USERNAME: ${{ secrets.NOTARIZATION_USERNAME }}
  NOTARIZATION_PASSWORD: ${{ secrets.NOTARIZATION_PASSWORD }}
  NOTARIZATION_ITC_PROVIDER: ${{ secrets.NOTARIZATION_ITC_PROVIDER }}
  DM_PACKAGES_URL: ${{ secrets.DM_PACKAGES_URL }}
  DM_ARCHIVE_DOMAIN: ${{ secrets.DM_ARCHIVE_DOMAIN }}
  DM_RELEASE_REPOSITORY: ${{ secrets.DM_RELEASE_REPOSITORY }}
  GCLOUD_EDITOR_SERVICE_KEY: ${{ secrets.GCLOUD_EDITOR_SERVICE_KEY }}
  MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
  MACOS_CERTIFICATE_PASS: ${{ secrets.MACOS_CERTIFICATE_PASS }}
  BUILD_BRANCH: ${{ github.event.client_payload.branch }}
  SERVICES_GITHUB_TOKEN: ${{ secrets.SERVICES_GITHUB_TOKEN }}
  DEFOLD_EDITOR_DISABLE_PERFORMANCE_TESTS: true
  SLACK_NOTIFICATIONS_ENABLED: ${{ github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/master' }}

jobs:

  # ---- BUILD EDITOR ------------------

  # build-editor-linux:
  #   runs-on: ubuntu-22.04
  #   timeout-minutes: 60
  #   steps: [
  #     {
  #       name: 'Checkout',
  #       uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11,
  #       with: {
  #         ref: '${{env.BUILD_BRANCH}}',
  #         fetch-tags: true
  #       }
  #     },
  #     { name: 'Install Python', uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c, with: { python-version: 3.13} },
  #     { name: 'Install Java', uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9, with: { java-version: '25', distribution: 'temurin'} },
  #     { name: 'Install dependencies', run: sudo apt-get install -y libgl1-mesa-dev libglw1-mesa-dev freeglut3-dev },
  #     {
  #       name: 'Build editor',
  #       if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_editor != true)),
  #       run: 'ci/ci.sh build-editor --platform=x86_64-linux'
  #     },
  #     {
  #       name: 'Archive editor',
  #       if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_editor != true)),
  #       run: 'ci/ci.sh archive-editor --platform=x86_64-linux'
  #     }
  #   ]
  
  build-editor-macos:
    runs-on: macOS-14
    timeout-minutes: 60
    strategy:
      matrix:
        platform: [x86_64-macos, arm64-macos]
    steps: [
      {
        name: 'Checkout',
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11,
        with: {
          ref: '${{env.BUILD_BRANCH}}',
          fetch-tags: true
        }
      },
      { name: 'Install Python', uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c, with: { python-version: 3.13} },
      { name: 'Install Java', uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9, with: { java-version: '25', distribution: 'temurin'} },
      {
        name: 'Install dependencies',
        if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_sign != true)),
        run: 'ci/ci.sh --keychain-cert="${{env.MACOS_CERTIFICATE}}" --keychain-cert-pass="${{env.MACOS_CERTIFICATE_PASS}}" install'
      },
      {
        name: 'Build editor',
        if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_sign != true)),
        run: 'ci/ci.sh build-editor --skip-tests --platform=${{ matrix.platform }} --notarization-username="${{env.NOTARIZATION_USERNAME}}" --notarization-password="${{env.NOTARIZATION_PASSWORD}}" --notarization-itc-provider="${{env.NOTARIZATION_ITC_PROVIDER}}"'
      },
      {
        name: 'Archive editor',
        if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_sign != true)),
        run: 'ci/ci.sh archive-editor --platform=${{ matrix.platform }}'
      }
    ]

  # build-editor-windows:
  #   runs-on: windows-2025
  #   timeout-minutes: 60
  #   strategy:
  #     matrix:
  #       platform: [x86_64-win32]
  #   steps: [
  #     {
  #       name: 'Checkout',
  #       uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11,
  #       with: {
  #         ref: '${{env.BUILD_BRANCH}}',
  #         fetch-tags: true
  #       }
  #     },
  #     { name: 'Install Python', uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c, with: { python-version: 3.13} },
  #     { name: 'Install Java', uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9, with: { java-version: '25', distribution: 'temurin'} },
  #     { name: 'Set up Google Cloud SDK', uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db, with: {version: 'latest'}
  #     },
  #     {
  #       name: 'Install dependencies',
  #       shell: bash,
  #       if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_sign != true)),
  #       run: 'ci/ci.sh install'
  #     },
  #     {
  #       name: 'Build editor',
  #       shell: bash,
  #       if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_sign != true)),
  #       run: 'ci/ci.sh build-editor --skip-tests --platform=${{ matrix.platform }} --gcloud-service-key="${{env.GCLOUD_EDITOR_SERVICE_KEY}}"'
  #     },
  #     {
  #       name: 'Archive editor',
  #       shell: bash,
  #       if: (github.event_name != 'repository_dispatch') || ((github.event_name == 'repository_dispatch') && (github.event.client_payload.skip_sign != true)),
  #       run: 'ci/ci.sh archive-editor --platform=${{ matrix.platform }}'
  #     }
  #   ]
